<!-- BEGIN ARIA OBSERVER SCRIPTS -->
<script type="text/javascript" src="http://ehrizo.gear.host/ariaobserver/Scripts/html2canvas.js"></script>
<script type="text/javascript" src="collector.js"></script>
<!-- END ARIA OBSERVER SCRIPTS -->