﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- BEGIN ARIA OBSERVER SCRIPTS
    <script type="text/javascript" src="~/Scripts/html2canvas.js"></script>
    <script type="text/javascript" src="~/Collector/CollectorScript?observerId=10&bundleId=1"></script>
    <!-- END ARIA OBSERVER SCRIPTS -->
    <script type="text/javascript">
        function Add() {
            var index = $("ul li").length;
            var listItem = document.createElement("li");
            var i = index + 1;
            listItem.textContent = "Elemento " + i;
            var target = document.getElementById("testList").appendChild(listItem, "before");
        }
        function Mensagem() {
            $("#divMsg").toggle();
        }
    </script>
</head>
<body>
    <div id="divContent" style="background-color:aliceblue;padding-top:50px;padding-left:100px">
        <div id="divMsg" style="display:block;background-color:brown;color:white;padding:20px" onmouseover="alert('Teste')">
            <p>Teste</p>
        </div>
        <div id="divTest" style="background-color:dodgerblue;padding:20px" onclick="Add()">
            <ul id="testList" style="width:300px;background-color:white" onmouseover="javascript:Mensagem()" aria-label="Teste ARIA">
                <li>Elemento 1</li>
                <li>Elemento 2</li>
                <li>Elemento 3</li>
            </ul>
        </div>
        <button id="btnTest" onclick="GetImage(document.getElementById('testList'))">Test</button>
    </div>
    <div id="Images" data-observer="1">

    </div>
</body>
</html>
