﻿@model List<DataBase.ViewModel.MutationViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CapturedImages</title>
</head>
<body>
    <div>
        <h1>Aria Observer - Captured Images</h1>
        @using (Html.BeginForm())
        {
            <label>Choose an interaction log:</label><br />
            @Html.DropDownList("ddlInteraction", ViewBag.InteractionLog as SelectList, "--- Options ---")
            @*@Html.CheckBox("ckbShowImage", new { @value = "1", @checked = false })<span>Show mutation image&nbsp;&nbsp;</span>*@
            <button id="btnSelect" name="btnSelect" type="submit">Show</button>
        }
    </div>
    @if (Model != null && Model.Count > 0)
    {
        <hr />
        <table border="1" style="font-family:Arial;font-size:12px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Position Left</th>
                    <th>Position Top</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Mouse X</th>
                    <th>Mouse Y</th>
                    <th>Attributes</th>
                    <th>Child Count</th>
                    <th>Childrens</th>
                    <th>DOM Height</th>
                    <th>DOM Width</th>
                    <th>DOM Level More Elements</th>
                    <th>DOM Level Elements</th>
                    <th>Text Nodes Count</th>
                    <th>Text Nodes</th>
                    <th>Words</th>
                    <th>Words per Child</th>
                    <th>Node Type</th>
                    <th>ParendId</th>
                    <th>ParentType</th>
                    <th>AriaAttributes</th>
                    <th>URL</th>
                    <th>Event Type</th>
                    <th>Element Source Type</th>
                    <th>Element Source Name</th>
                    <th>Mutation Date</th>
                    <th>Session ID</th>
                    <th>HTML Code</th>
                    <th>Child HTML</th>
                    <th>Text Content</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Id</td>
                        <td>
                            @if (ViewBag.ShowImage == "1")
                            {
                                if (i.PngBase64.Length > 100)
                                {
                                    <img src="@i.PngBase64" />
                                }
                                else
                                {
                                    <span>No image registered.</span>
                                }
                            }
                            else
                            {
                                <span>---</span>
                            }
                        </td>
                        <td>@i.Name</td>
                        <td>@i.PositionLeft</td>
                        <td>@i.PositionTop</td>
                        <td>@i.Width</td>
                        <td>@i.Height</td>
                        <td>@i.mouseX</td>
                        <td>@i.mouseY</td>
                        <td>@i.Attributes</td>
                        <td>@i.childCount</td>
                        <td>@i.children</td>
                        <td>@i.domHeight</td>
                        <td>@i.domWidth</td>
                        <td>@i.domLevelMoreElements</td>
                        <td>@i.domLevelElements</td>
                        <td>@i.textNodesCount</td>
                        <td>@i.textNodes</td>
                        <td>@i.numWords</td>
                        <td>@i.numWordsChild</td>
                        <td>@i.NodeType</td>
                        <td>@i.ParentId</td>
                        <td>@i.ParentType</td>
                        <td>@i.AriaAttributes</td>
                        <td>@i.Url</td>
                        <td>@i.eventType</td>
                        <td>@i.elementSourceType</td>
                        <td>@i.elementSourceName</td>
                        <td>@i.mutationDate</td>
                        <td>@i.sessionId</td>
                        <td>@HttpUtility.HtmlDecode(i.HtmlCode)</td>
                        <td>@HttpUtility.HtmlDecode(i.childHTML)</td>
                        <td>@i.textContent</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
