﻿@model List<DataBase.ViewModel.MutationViewModel>
@{
    ViewBag.Title = "Mutation Logs";
}

@section css{
    <style type="text/css">
        .table-fixed {
            width: 100%;
            background-color: #f3f3f3;
        }

            .table-fixed tbody {
                min-height: 200px;
                max-height: 600px;
                overflow-y: auto;
                width: 100%;
            }

            /*.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
                display: block;
            }*/
            /*.table-fixed tbody td {
          float: left;
        }*/
            .table-fixed thead tr th {
                /*float: left;*/
                background-color: #f39c12;
                border-color: #e67e22;
            }
    </style>
}

@section js{
    <script type="text/javascript">
        function htmlEncode(value) {
            // Create a in-memory div, set its inner text (which jQuery automatically encodes)
            // Then grab the encoded contents back out. The div never exists on the page.
            return $('<div/>').text(value).html();
        }

        function ShowElement(e, td) {
            var left = e.clientX + 5 + 'px';
            var top = e.clientY + 5 + 'px';

            var div = document.getElementById("divElement");

            div.style.left = left;
            div.style.top = top;

            $("#divElement").html($("#" + td).text());
            $("#divElement").toggle();
            return false;
        }

        function ShowHtml(e, td) {
            var left = e.clientX + 5 + 'px';
            var top = e.clientY + 5 + 'px';

            var div = document.getElementById("divElement");

            div.style.left = left;
            div.style.top = top;

            $("#divElement").html($("#" + td).html());
            $("#divElement").toggle();
            return false;
        }

        function htmlEncode(str) {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }

        function ShowHtmlChildren(e, id) {
            var tableParts = "<table class='table table-bordered table-condensed table-striped table-hover table-condensed'> \
                                <thead> \
                                    <tr> \
                                        <th class='col-xs-1'>Code</th> \
                                        <th class='col-xs-1'>sub Element</th> \
                                        <th class='col-xs-1'>Node Type</th> \
                                        <th class='col-xs-1'>Parent Type</th> \
                                        <th class='col-xs-1'>Aria ?</th> \
                                        <th class='col-xs-1'>Childs</th> \
                                        <th class='col-xs-1'>P.Left</th> \
                                        <th class='col-xs-1'>P.Top</th> \
                                        <th class='col-xs-1'>Width</th> \
                                        <th class='col-xs-1'>Height</th> \
                                        <th class='col-xs-1'>Text Nodes</th> \
                                        <th class='col-xs-1'>AVG Child Width</th> \
                                        <th class='col-xs-1'>AVG Child Height</th> \
                                        <th class='col-xs-1'>SD Child Width</th> \
                                        <th class='col-xs-1'>SD Child Height</th> \
                                        <th class='col-xs-1'>AVG Child X</th> \
                                        <th class='col-xs-1'>AVG Child Y</th> \
                                        <th class='col-xs-1'>SD Child X</th> \
                                        <th class='col-xs-1'>SD Child Y</th> \
                                        <th class='col-xs-1' style='display:none'>HTML Code</th> \
                                    </tr> \
                                </thead> \
                                <tbody>";
            $.ajax({
                type: 'GET',
                url: '/AriaObserver/report/getchildren/' + id,
                success: function (r) {
                    for (i = 0; i < r.length; i++) {
                        tableParts += "<tr> \
                                        <td class='col-xs-1'><img src='/AriaObserver/Content/Images/html-code.png' style='width:32px;' onmouseover='ShowHtml(event, " + r[i].Id + ")' onmouseout='ShowHtml(event, " + r[i].Id + ")' alt='Show HTML code' /></td> \
                                        <td class='col-xs-1'><input type='radio' name='rbSubElement_" + r[i].Id + "' id='rbSubElement_" + r[i].Id + "' value='Y' " + (r[i].SubElement === "Y" ? "checked" : "") + " onclick='SetChildClass(this)'> Y <input type='radio' name='rbSubElement_" + r[i].Id + "' id='rbSubElement_" + r[i].Id + "' value='N' " + (r[i].SubElement === "N" ? "checked" : "") + " onclick='SetChildClass(this)'> N</td> \
                                        <td class='col-xs-1'>" + r[i].NodeType + "</td> \
                                        <td class='col-xs-1'>" + r[i].ParentType + "</td> \
                                        <td class='col-xs-1'>" + r[i].AriaAttributes + "</td> \
                                        <td class='col-xs-1'>" + r[i].ChildCount + "</td> \
                                        <td class='col-xs-1'>" + r[i].PositionLeft + "</td> \
                                        <td class='col-xs-1'>" + r[i].PositionTop + "</td> \
                                        <td class='col-xs-1'>" + r[i].Width + "</td> \
                                        <td class='col-xs-1'>" + r[i].Height + "</td> \
                                        <td class='col-xs-1'>" + r[i].TextNodeCount + "</td> \
                                        <td class='col-xs-1'>" + r[i].AvChildWidth + "</td> \
                                        <td class='col-xs-1'>" + r[i].AvChildHeight + "</td> \
                                        <td class='col-xs-1'>" + r[i].SdChildWidth + "</td> \
                                        <td class='col-xs-1'>" + r[i].SdChildHeight + "</td> \
                                        <td class='col-xs-1'>" + r[i].AvChildX + "</td> \
                                        <td class='col-xs-1'>" + r[i].AvChildY + "</td> \
                                        <td class='col-xs-1'>" + r[i].SdChildX + "</td> \
                                        <td class='col-xs-1'>" + r[i].SdChildY + "</td> \
                                        <td class='col-xs-1' style='display:none' id='" + r[i].Id + "'>" + htmlEncode(r[i].HtmlCode) + "</td> \
                               </tr>";
                    }
                    tableParts += "</tbody></table>";
                    $("#tdParts").html(tableParts);
                    
                    var classId = $("#rbAction_" + id + ":checked").val();
                    $.ajax({
                        type: 'GET',
                        url: '/AriaObserver/report/getClassName/?classId=' + classId,
                        success: function (r) {
                            $("#thParts").html("Parts of mutation: #" + id + " - Main class: " + r);
                        }
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
            $("#divChildren").toggle(300);
            return false;
        }

        $("#ckShowHtml").click(function () {
            if ($("#ckShowHtml").is(":checked")) {
                $("th[html='x']").css("display", "table-cell");
                $("td[html='x']").css("display", "table-cell");
            }
            else {
                $("th[html='x']").css("display", "none");
                $("td[html='x']").css("display", "none");
            }
        });

        $("#btnClose").click(function () {
            $("#tdParts").html("...");
            $("#divChildren").toggle(300);
        });

        $("[id^=rbAction]").click(function () {
            var classData = {
                mutationId: $(this).attr("id").split('_')[1],
                classId: $(this).val()
            };
            $.ajax({
                type: 'POST',
                url: '/ariaobserver/report/SetClass',
                data: classData,
                success: function (r) {
                    //do something...
                }
            });
        });

        function SetChildClass(x) {
            var classData = {
                childrenId: $(x).attr("id").split('_')[1],
                isSubElement: $(x).val()
            };
            $.ajax({
                type: 'POST',
                url: '/ariaobserver/report/SetChildrenClass',
                data: classData,
                success: function (r) {
                    //do something...
                }
            });
        };

    </script>
}

<h2>Mutation's log</h2>
@using (Html.BeginForm())
{
    <div class="form-inline">
        <label class="control-label">Choose an interaction log</label>
        @Html.DropDownList("interaction", ViewBag.InteractionLog as SelectList, "--- Options ---", new { @class = "form-control" })
        <button id="btnSelect" name="btnSelect" type="submit" class="btn btn-success">Show</button>
    </div>
    <div class="checkbox">
        <label><input class="checkbox" type="checkbox" id="ckShowHtml" name="ckShowHtml" />Show HTML code</label>
    </div>
}
@if (Model != null && Model.Count > 0)
{
    <div id="divElement" style="display:none; position:fixed; border: 3px solid black; padding: 5px; background-color: white; z-index:1000">
        My content here...
    </div>

    <div id="divChildren" style="display:none; position:fixed; 
            border: 3px solid blue; margin:0 auto; padding: 5px; overflow-y: auto; max-height:600px;
            background-color: white; z-index:500">
        <button class="btn btn-danger" id="btnClose" style="position:fixed; padding:5px; z-index:600">Close</button>
        <table class="table table-bordered table-condensed table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-1 text-center" id="thParts" name="thParts">...</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-xs-1" id="tdParts" name="tdParts">Children elements here...</td>
                </tr>
            </tbody>
        </table>
    </div>

    <table class="table table-bordered table-condensed table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th class="col-xs-1">Eye</th>
                <th class="col-xs-1">Class</th>
                <th class="col-xs-1" style="display:none;" html="x">ID</th>
                <th class="col-xs-1" style="display:none;" html="x">Image</th>
                <th class="col-xs-1" style="display:none;" html="x">Name</th>
                <th class="col-xs-1">Position Left</th>
                <th class="col-xs-1">Position Top</th>
                <th class="col-xs-1">Width</th>
                <th class="col-xs-1">Height</th>
                <th class="col-xs-1">Mouse X</th>
                <th class="col-xs-1">Mouse Y</th>
                <th class="col-xs-1" style="display:none;" html="x">Attributes</th>
                <th class="col-xs-1">Child Count</th>
                <th class="col-xs-1" style="display:none;" html="x">Childrens</th>
                <th class="col-xs-1">DOM Height</th>
                <th class="col-xs-1">DOM Width</th>
                <th class="col-xs-1">DOM Level More Elements</th>
                <th class="col-xs-1">DOM Level Elements</th>
                <th class="col-xs-1">Text Nodes Count</th>
                <th class="col-xs-1" style="display:none;" html="x">Text Nodes</th>
                <th class="col-xs-1">Words</th>
                <th class="col-xs-1">Words per Child</th>
                <th class="col-xs-1">A Href</th>
                <th class="col-xs-1">OnClick</th>
                <th class="col-xs-1" style="display:none;" html="x">Node Type</th>
                <th class="col-xs-1" style="display:none;" html="x">ParendId</th>
                <th class="col-xs-1" style="display:none;" html="x">ParentType</th>
                <th class="col-xs-1">AriaAttributes</th>
                <th class="col-xs-1" style="display:none;" html="x">URL</th>
                <th class="col-xs-1" style="display:none;" html="x">Event Type</th>
                <th class="col-xs-1" style="display:none;" html="x">Element Source Type</th>
                <th class="col-xs-1" style="display:none;" html="x">Element Source Name</th>
                <th class="col-xs-1" style="display:none;" html="x">Mutation Date</th>
                <th class="col-xs-1" style="display:none;" html="x">Session ID</th>
                <th class="col-xs-1" style="display:none;" html="x">HTML Code</th>
                <th class="col-xs-1" style="display:none;" html="x">Child HTML</th>
                <th class="col-xs-1" style="display:none;" html="x">Text Content</th>
                <th class="col-xs-1" style="display:none;" html="x">Client IP</th>
                <th class="col-xs-1" style="display:none;" html="x">Client Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
                {
                <tr>
                    <td class="col-xs-1">
                        <img src="~/Content/Images/icon48.png" style="width:32px; padding-bottom:5px" onmouseover="ShowElement(event, '@i.Id')" onmouseout="ShowElement(event, '@i.Id')" alt="Show mutation" /><br />
                        <img src="~/Content/Images/html-code.png" style="width:32px; padding-bottom:5px" onmouseover="ShowHtml(event, '@i.Id')" onmouseout="ShowHtml(event, '@i.Id')" alt="Show HTML code" /><br />
                        <img src="~/Content/Images/structure.png" style="width:32px; padding-bottom:5px" onclick="ShowHtmlChildren(event, '@i.Id')" alt="Widgets' parts for manually classification" />
                    </td>
                    <td class="col-xs-1">
                        <div class="form-group">
                            @foreach (var c in ViewBag.Class as List<DataBase.ViewModel.ClassViewModel>)
                            {
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               id="@string.Format("rbAction_{0}",i.Id)"
                                               name="@string.Format("rbAction_{0}",i.Id)"
                                               @if (c.Id == i.ClassId) { var mark = "checked"; @mark ; }
                                               value="@c.Id" />@c.Name
                                        </label>
                                    </div>
                            }
                        </div>
                    </td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.Id</td>
                    <td class="col-xs-1" style="display:none;" html="x">
                        @if (ViewBag.ShowImage == "1")
                        {
                            if (i.PngBase64.Length > 100)
                            {
                                <img src="@i.PngBase64" />
                            }
                            else
                            {
                                <span>No image registered.</span>
                            }
                        }
                        else
                        {
                            <span>---</span>
                        }
                    </td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.Name</td>
                    <td class="col-xs-1">@i.PositionLeft</td>
                    <td class="col-xs-1">@i.PositionTop</td>
                    <td class="col-xs-1">@i.Width</td>
                    <td class="col-xs-1">@i.Height</td>
                    <td class="col-xs-1">@i.mouseX</td>
                    <td class="col-xs-1">@i.mouseY</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.Attributes</td>
                    <td class="col-xs-1">@i.childCount</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.children</td>
                    <td class="col-xs-1">@i.domHeight</td>
                    <td class="col-xs-1">@i.domWidth</td>
                    <td class="col-xs-1">@i.domLevelMoreElements</td>
                    <td class="col-xs-1">@i.domLevelElements</td>
                    <td class="col-xs-1">@i.textNodesCount</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.textNodes</td>
                    <td class="col-xs-1">@i.numWords</td>
                    <td class="col-xs-1">@i.numWordsChild</td>
                    <td class="col-xs-1">@i.numAHref</td>
                    <td class="col-xs-1">@i.numOnClick</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.NodeType</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.ParentId</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.ParentType</td>
                    <td class="col-xs-1">@i.AriaAttributes</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.Url</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.eventType</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.elementSourceType</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.elementSourceName</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.mutationDate</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.sessionId</td>
                    <td class="col-xs-1" style="display:none;" html="x" id="@i.Id">@HttpUtility.HtmlDecode(i.HtmlCode)</td>
                    <td class="col-xs-1" style="display:none;" html="x">@HttpUtility.HtmlDecode(i.childHTML)</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.textContent</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.clientIP</td>
                    <td class="col-xs-1" style="display:none;" html="x">@i.clientName</td>
                </tr>
            }
        </tbody>
    </table>
}
